body {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#profile-picture {
  border-radius: 50%;
}

.directory {
  position: static;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
  padding: 2%;
  gap: 5%;
}

.directory-button {
  border-radius: 20%;
  background-color: white;
  outline: gold 1px solid;
  box-shadow: 5px 5px 5px rgba(240, 240, 240, 0.4);
  cursor: pointer;
  opacity: 0.9;
  padding: 1%;
  height: clamp(1%, 1%);
  width: clamp(1%, 1%);
}